.certificate-table-header {
    padding: 5px;
}

.certificate-table-header span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.certificate-table-header span img {
    margin: 0 3px;
}

.table-certificates {
    border-collapse: collapse !important;
    font-size: 14px;
    width: 100%;
}

.table-certificates tbody tr {
    border-collapse: separate !important;
    border: 5px solid white;
}

.tablecertificate-thead-th {
    border: 3px solid white;
    border-radius: 5px;
    background: rgb(234, 229, 229);
}

.table-tbody tr td:nth-child(2) {
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .table-certificates {
        font-size: 11px;
    }
}
