.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
}

.history-type h4 {
    font-weight: 400;
    font-size: 16px;
}

.section-title h4 {
    margin: 10px 0;
}

.section-title button {
    text-transform: capitalize;
    padding: 12px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 145px;
}

.section-title svg {
    margin-left: 8px;
    color: var(--black);
    font-size: 15px;
}

.section-data {
    font-size: 14px;
    padding: 10px 24px 10px 15px;
}

.section-data-cert {
    font-size: 14px;
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
}

.section-data-cert::-webkit-scrollbar {
    width: 8px;
}

.section-data-cert::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.section-data-cert::-webkit-scrollbar-thumb {
    background: #636262;
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
    .section-title {
        flex-direction: column;
    }
}
